html {
  background-color: #f5f5f5;
}
.shadow-1 {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.navbar {
  height: 4rem;
}
.section {
  margin-top: 10px;
  position: relative;
}
.columns {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}
.column {
  padding: 0px!important;
}

.h-d{
  display: none!important;
}
.disable-y-scroll{
  overflow-y: hidden;
}

/************ cards ************/
.main {
  margin-left: 250px;
  padding: 0px 50px!important;
}
.cards {
  display: felx;
}
.section-header{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header h1{
  font-size: 27px;
    font-weight: 100;
}
.content-container{
  padding: 20px 0px;
  user-select: none;
}
.card {
  transition: all 0.3s ease;
  position: relative;
  height: 200px;
  width: 135px;
  max-width: 135px;
  min-width: 135px;
  padding: 0px;
  margin: 4px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(50,50,93,.1), 0 1px 6px rgba(0,0,0,.07);

}
.card:hover {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.card-content {
  height: 100%;
  padding: 0px;
}
.card-cover {
  height: 116px;
  width: 106px;
  margin: 0 auto;
  padding: 10px;
}
.card-info{
  width: 100%;
  padding: 3px;
}
.card-title{
  white-space: nowrap;
  color: #1f1f1f;
  font-size: 15px;
  line-height: 19px;
  min-height: 19px;
  margin-top: 5px;
  overflow: hidden;
  text-decoration: none;
}
.subtitle {
  color: #6d6d6d!important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.ratings {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  width: 100%;
}
/************ end cards ************/



/************ mobile ************/

@media only screen and (max-width: 768px) {
  .column {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0rem;
  }
  .columns.is-mobile {
    display: flex;
    overflow-y: scroll;
  }
  .card {
    height: 190px;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    padding: 0px;
    margin: 2px;
  }
  .section-header {
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 10px 5px;
  }
  .section-header h1 {
    font-size: 20px;
    font-weight: 100;
  }
  .gallery {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 1087px) {
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    height: 100%;
  }
  .h-d{
    display: block!important;
  }
  .navbar>.container {
    display: block;
    height: 100%;
  }
  .aside {
    margin-left: -300px;
  }
  .main {
    margin-left: 0px;
    padding: 0px!important;
  }
  .owl-stage {
    right: 0px;
  }
}
/************ end mobile ************/