html {
  background-color: #f5f5f5;
}
.shadow-1 {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.navbar {
  height: 4rem;
}
.section {
  margin-top: 10px;
  position: relative;
}
.columns {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}
.column {
  padding: 0px!important;
}

.h-d{
  display: none!important;
}
.disable-y-scroll{
  overflow-y: hidden;
}
/*********** navbar **********/
.navbar-item {
   cursor: pointer;
}
.navbar-item img {
  max-height: 100%;
}
.navbar-brand, .navbar-tabs {
  height: 100%;
}
.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
  border-color: #3273dc;
  box-shadow: none;
}
.input, .control.has-icons-left .select select {
  padding-left: 2.25em;
  border-radius: 0;
}
/*********** end navbar **********/

/*********** aside **********/
.aside {
  transition: all 0.3s ease;
  width: 250px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 30px 15px;
  margin-top: 62px;
  border-right: 1px solid #e9e9e9;
  z-index: 20;
}
.menu-list svg{
  margin: 0px 15px;
  width: 18px!important;
  height: 18px;
  color: #3273dc;
}
.menu-list a.is-active svg {
  background-color: #3273dc;
  color: #fff;
}
.menu-list a {
  border-radius: 2px;
  display: block;
  padding: 0.7em .75em;
}
.menu-list li{
  font-weight: 500;
    font-size: 17px;
}
.show-aside {
  margin-left: -2px!important;
}
.bg-aside{
  transition: all 0.3s ease;
  display: none;
}
.show-bg-aside {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 19;
  display: block;
}
/************ end aside ************/

/************ owl ************/
/* .owl-carousel {
  padding: 5px;
}
.owl-item {
  background-color: #3273dc;
  height: 250px;
  border-radius: 4px;
  overflow: hidden;
}
.owl-stage {
  right: 30px;
}
.gallery {
  padding-top: 30px;
}
.item {
  width: 100%;
  height: 100%;
  position: relative;
}
.item img {
  object-fit: cover;
  height: 100%;
 }
.item a {
  color: #fff!important;
}
.gallery-item {
  position: absolute;
  bottom: 0px;
  height: 70%;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.72));
}
.gallery-item h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
}
.gallery-item-info {
  position: absolute;
  bottom: 10px;
  width: 100%;
} */

/* .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px!important;
}
.owl-next{
  background-color: white!important;
  width: 50px;
  height: 50px;
  border-radius: 50%!important;
  margin-right: -15px!important;
} */
/************ end owl ************/



/************ cards ************/
.main {
  margin-left: 250px;
  padding: 0px 50px!important;
}
.cards {
  display: felx;
}
.section-header{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header h1{
  font-size: 27px;
    font-weight: 100;
}
.content-container{
  padding: 20px 0px;
  user-select: none;
}
.card {
  transition: all 0.3s ease;
  position: relative;
  height: 200px;
  width: 135px;
  max-width: 135px;
  min-width: 135px;
  padding: 0px;
  margin: 4px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(50,50,93,.1), 0 1px 6px rgba(0,0,0,.07);

}
.card:hover {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.card-content {
  height: 100%;
  padding: 0px;
}
.card-cover {
  height: 116px;
  width: 106px;
  margin: 0 auto;
  padding: 10px;
}
.card-info{
  width: 100%;
  padding: 3px;
}
.card-title{
  white-space: nowrap;
  color: #1f1f1f;
  font-size: 15px;
  line-height: 19px;
  min-height: 19px;
  margin-top: 5px;
  overflow: hidden;
  text-decoration: none;
}
.subtitle {
  color: #6d6d6d!important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.ratings {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  width: 100%;
}
/************ end cards ************/



/************ mobile ************/

@media only screen and (max-width: 768px) {
  .column {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0rem;
  }
  .columns.is-mobile {
    display: flex;
    overflow-y: scroll;
  }
  .card {
    height: 190px;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    padding: 0px;
    margin: 2px;
  }
  .section-header {
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 10px 5px;
  }
  .section-header h1 {
    font-size: 20px;
    font-weight: 100;
  }
  .gallery {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 1087px) {
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    height: 100%;
  }
  .h-d{
    display: block!important;
  }
  .navbar>.container {
    display: block;
    height: 100%;
  }
  .aside {
    margin-left: -300px;
  }
  .main {
    margin-left: 0px;
    padding: 0px!important;
  }
  .owl-stage {
    right: 0px;
  }
}
/************ end mobile ************/